<header class="app-header">
    <div class="header-content">
        <h3>Gestor de Cátedras</h3>
        <nav>
            <a href="/app/configuracion" style="color: white; margin-right: 20px;">Configuración</a>

            <a href="/app/perfil" style="color: white; margin-right: 20px;">Mi Perfil</a>
            <a href="/auth/logout" style="color: white;">Cerrar Sesión</a>
        </nav>
    </div>
</header>